option_settings:
  aws:elasticbeanstalk:application:environment:
    S3_REGION: eu-west-1
    S3_BUCKET: abandonbikes.bucket
    S3_ACCESS_KEY_ID: s3_access_key_id
    S3_SECRET_ACCESS_KEY: s3_secret_access_key

    POP_SERVER: pop.gmail.com
    POP_USER: email@gmail.com
    POP_PASS: pass

    DB_HOST: my.db.host.com
    DB_NAME: abandon_bikes_production
    DB_USER: user
    DB_PASSWORD: pass

    SECRET_KEY_BASE: secret_key_base